@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


body {
    font-family: 'Poppins';
    align-items: center;
    text-align: center;
    background-color:beige;
    padding:0;
    
    
}

img {
    border-radius: 100px;

}
h1 {
    color: #7b0b10
}

h2{
    color: brown;
}
footer{
    background-color: rgb(195, 161, 171);
    color: rgb(93, 66, 66);
    height: 100% ;
    width: 100%;
}